In [ ]:
import duckdb

In [ ]:
con = duckdb.connect(database='dados_duckdb.db', read_only=False)

In [ ]:
df = con.execute('select * from produtos').fetch_df()
df.head()

In [ ]:
con.execute("""
    create table if not exists dim_produtos (
            id_produto BIGINT,
            nm_produto TEXT,
            vl_produto FLOAT
            )
""")

In [ ]:
df2 = df.drop(columns=['id_categoria', 'id_fornecedor'])
df2.head(10)

In [ ]:
con.execute("insert into dim_produtos select * from df2")

In [ ]:
df_dim = con.execute('select * from dim_produtos').fetch_df()
df_dim.head(10)

In [ ]:
con.close()